:root {
  --light: #EEEEEE;
  --light-blue: #00ADB5;
  --gray: #393E46;
  --dark-gray: #222831;

}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--light-blue);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 900;
  font-size: 6rem;
  border-radius: 10%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
  flex: 1;
}

.buttons button {
  background-color: var(--light-blue);
  color: var(--dark-gray);
  border: 3px solid var(--dark-gray);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.buttons button:hover {
  background-color: var(--light);
  border: 10px solid var(--dark-gray);
}

.buttons button img {
  height: 80px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-blue);
  background-color: var(--gray);
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 0;
}

.status h2 {
  font-size: 4rem;
  color: var(--light);
}

.status p {
  font-size: 1.5rem;
  font-weight: bold;
}


@media (max-width: 1023px) {
  header h1 {
    font-size: 3rem;
  }
  .status {
    font-size: 3rem;
    text-align: center;
  }
  .status h2 {
    font-size: 3rem;
    text-align: center;
  }
  .status p {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 549px) {
  header h1 {
    font-size: 2rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  .buttons button {
    font-size: 0.9rem;
    width: 100%;
    height: 100px;
  }
  .buttons button img {
    height: 50px;
  }
  .status {
    font-size: 2rem;
    text-align: center;
  }
  .status h2 {
    font-size: 2rem;
    text-align: center;
  }
  .status p {
    font-size: 1rem;
    text-align: center;
  }
}