:root {
  --yellow: #FFFD8F;
  --light-green: #B0CE88;
  --green: #4C763B;
  --dark-green: #043915;

}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-green);
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--dark-green);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  border-radius: 10%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
  flex: 1;
}

.buttons button {
  background-color: var(--yellow);
  color: var(--dark-green);
  border: var(--yellow);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.buttons button:hover {
  background-color: var(--light-green);
  border: 2px solid var(--dark-green);
}

.buttons button:disabled {
  background-color: #CC3300;
  color: var(--yellow);
}

.buttons button img {
  height: 80px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--yellow);
  background-color: var(--dark-green);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
}

.status h2 {
  font-size: 3rem;
}

.status p {
  font-size: 1rem;
  font-weight: bold;
}

